@{ Layout = null; }
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Foire Aux Questions</title>
  <link rel="stylesheet" href="~/css/faqs_Styles.css">
  <script src="~/js/faqs.js"></script>
</head>

<body>
  <section id="faqs">
    <h1>FAQ sur jQuery</h1>
    <h2 class="plus">Qu'est-ce que jQuery?</h2>
    <div class="closed">
      <p>
        jQuery est une bibliothèque de fonctions JavaScript, c'est celle dont vous aurez
        le plus besoin que vous développez des sites web.
      </p>
    </div>
    <h2 class="plus">Pourquoi jQuery est-il si populaire?</h2>
    <div class="closed">
      <p>Trois raisons:</p>
      <ul>
        <li>C'est gratuit.</li>
        <li>Il vous permet de faire plus en moins de temps.</li>
        <li>Toutes ses fonctions sont compatibles dans tous les navigateurs.</li>
      </ul>
    </div>
    <h2 class="plus">Lequel est le plus difficile à apprendre: jQuery ou JavaScript?</h2>
    <div class="closed">
      <p>
        Pour la plupart des fonctions, jQuery est beaucoup plus facile d'apprendre
        et à utiliser que JavaScript. Mais n'oubliez pas que jQuery est JavaScript.
      </p>
    </div>
  </section>
</body>
</html>
